{% extends 'manager/manager_base.html' %}
{% block content %}
            <div class="col-lg-12">
                <div class="card alert">
                    <div class="card-header">
                        <h4><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">公众号列表 </font></font></h4>
                        <div class="card-header-right-icon">
                            <ul>
                                <li class="card-close" data-dismiss="alert"><i class="ti-close"></i></li>
                                <li class="card-option drop-menu"><i class="ti-settings" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" role="link"></i>
                                    <ul class="card-option-dropdown dropdown-menu">
                                        <li><a href="#"><i class="ti-loop"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 更新数据</font></font></a></li>
                                        <li><a href="#"><i class="ti-menu-alt"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 详细日志</font></font></a></li>
                                        <li><a href="#"><i class="ti-pulse"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 统计</font></font></a></li>
                                        <li><a href="#"><i class="ti-power-off"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 清楚的是</font></font></a></li>
                                    </ul>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        {% for each_kind in kind %}
                            <button type="button" class="btn btn-info btn-outline m-b-10 m-l-5 btn-kind" data-uid="{{ each_kind.uuid }}">
                                <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                    {{ each_kind.name }}
                                </font></font>
                            </button>
                        {% endfor %}
                        </div>

                        <table id="datatable" class="display">
                            <thead>
                            <tr>
                                <th class="text-center"><input type="checkbox" class="ipt_check_all" id="check_all"></th>
                                <th>头像</th>
                                <th>名称</th>
                                <th>二维码</th>
                                <th>公账号&ID</th>
                                <th>状态</th>
                                <th>类型</th>
                                <th>下次爬取时间</th>
                                <th>昨天文章数</th>
                                <th>最近1周</th>
                                <th>文章总数</th>
                                <th>临时连接</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                        </table>
                        <div class="row">
                            <div class="col-sm-6">
                                <input type="button" class="btn btn-sm btn-primary" id="add-gzh" value="添加公众号">
                                <input type="button" class="btn btn-danger btn-sm btn_asset_delete_all"  value="删除">
                                <input type="button" class="btn btn-warning btn-sm btn_asset_deactive_all" value="停用">
                                <input type="button" class="btn btn-info btn-sm" name="update_button" id="asset_update" value="更新">
                            </div>
                        </div>
                    </div>
                </div>
            </div>



<div class="layui-row" id="add-kind-form" style="display: none;">
    <div class="layui-col-md10">
        <form class="layui-form" id="addEmployeeForm">
            {% csrf_token %}
            <div class="layui-form-item">
                <label class="layui-form-label">名称：</label>
                <div class="layui-input-block">
                    <input type="text" name="kindName" class="layui-input">
                </div>
            </div>
        </form>
    </div>
</div>

<!-- 添加公众号表单 -->
<div class="layui-row" id="add-gzh-form" style="display: none;">
    <div class="layui-col-md10">
        <form class="layui-form">
            {% csrf_token %}
            <div class="layui-form-item">
                <label class="layui-form-label">公众号名称</label>
                <div class="layui-input-inline">
                    <input type="text" name="gzhName" lay-verify="required" autocomplete="off" placeholder="请输名称或ID" class="layui-input">
                </div>
            </div>


            <div class="layui-form">
                <div class="layui-form-item">
                    <label class="layui-form-label">抓取时间<br>(至少填一个)</label>
                    <div class="layui-inline">
                        <input type="text" name="time1" lay-verify="required" class="layui-input time-item"  placeholder="H:M:S">
                    </div>
                    <div class="layui-inline">
                        <input type="text" name="time2" class="layui-input time-item"  placeholder="H:M:S">
                    </div>
                    <div class="layui-inline">
                        <input type="text" name="time3" class="layui-input time-item"  placeholder="H:M:S">
                    </div>
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">选择分类</label>
                <div class="layui-input-inline">
                    <select name="kind" lay-verify="required" id="kindSelect" lay-filter="platform">
                        <option value="">直接选择或搜索选择</option>

                    </select>
                </div>
            </div>



            <div class="layui-form-item">
                <label class="layui-form-label">开启状态</label>
                <div class="layui-input-block">
                    <input type="checkbox" checked="" name="status" lay-skin="switch" lay-filter="switchTest" lay-text="ON|OFF">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="" lay-filter="gzhSubmit">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
</div>





<script src="/static/js/lib/jquery.min.js"></script>
<script src="/static/js/lib/jquery.nanoscroller.min.js"></script>
<script src="/static/js/lib/sidebar.js"></script>
<script src="/static/js/lib/bootstrap.min.js"></script>
<script src="/static/js/lib/jquery.dataTables.min.js"></script>
<script src="/static/js/layui.all.js"></script>
<script src="/static/js/mjs.js"></script>
{% endblock %}
{% block js %}
<script>
    layui.use(['form','layer','laypage'], function() { //独立版的layer无需执行这一句
        var $ = layui.jquery, layer = layui.layer; //独立版的layer无需执行这一句
        var form = layui.form;

        $("#add-gzh").click(function () {
            let idx = layer.open({
                type: 2,
                title: '添加公众号',
                shade: 0.8,
                area: ['800px', '400px'],
                btn:['关闭'],
                content: '/wechat/add_gzh.html',
                btn1: function () {
                    window.location.reload();
                }
            });
        });
    });
    function initTable(){
        // 表格选项
        var options = {
            ele : $("#datatable"),
            pageLength : 10,
            csrf: '{{ csrf_token }}',
            columnDefs: [
                {
                    targets: 1,
                    createdCell: function(td,cellData,rowData){
                        var avatar = '<img src="' + cellData + '" width=38px;></img>';
                        $(td).html(avatar);
                    }
                },
                {
                    targets: 2,
                    createdCell: function(td,cellData){
                        var project_btn = '';
                        project_btn += '<span class="label label-success">' + cellData +'</span>'
                        $(td).html(project_btn);
                    }
                },
                {
                    targets: 3,
                    createdCell: function(td,cellData){
                        var label_btn = '';
                        var qrcode = '<img src="' + cellData + '" width=38px;></img>';
                        $(td).html(qrcode);
                    }
                },
                {
                    targets: 4,
                    createdCell: function(td,cellData){
                        var label_btn = '';

                        label_btn += '<span class="label label-info">' + cellData + '</span> ';
                        $(td).html(label_btn);
                    }
                },
                {
                    targets: 6,
                    createdCell: function(td,cellData,rowData){
                        var is_active_btn = '';
                        is_active_btn += '<a class="btn btn-primary btn-xs asset_active" type="button" >'+ cellData + '</a>';
                        $(td).html(is_active_btn);
                    }
                },
                {
                    targets: 7,
                    createdCell: function (td, cellData) {
                        $(td).html('<p>'+cellData+'</p>');

                    }
                },
                {
                    targets: -2,
                    createdCell: function (td, cellData) {
                        $(td).html('<a class="btn btn-xs btn-success" href="'+cellData+'" target="view_window">点击查看</a>');

                    }
                },

                {
                    targets : -1,
                    orderable: false,
                    createdCell: function(td,cellData,rowData){
                        var update_btn = '<button class="btn btn-xs btn-info btn_gzh_update" data-uid="'+ rowData.id + '">更新</button> ';
                        var del_btn = '<button class="btn btn-xs btn-danger m-l-xs btn_gzh_delete" data-uid="'+ rowData.id + '">删除</button>';
                        var pull_btn = '<button class="btn btn-xs btn-success m-l-xs btn_article_pull" data-uid="'+ rowData.id + '">抓取</button>';
                        $(td).html('<div class="btn-group btn-group-toggle">'+update_btn + del_btn + pull_btn + '</div>');
                    }
                }
            ],
            ajax_url: "/api/manager/get/gzh",
            columns: [
                { data: 'id',name:'id' },
                { data: "avatar" ,name:'avatar',orderable: false},
                { data: "name" ,name:'name',orderable: true},
                { data: "qrcode" ,name:'qrcode',orderable: false},
                { data: "wechatid" ,name:'wechatid',orderable: true},
                { data: "status" ,name:'status'},
                { data: "kind" ,name:'kind'},
                { data: "next_crawl_time" ,name:'next_crawl_time',orderable: false,searchable:false},
                { data: "last_day"},
                { data: "last_week"},
                { data: "total"},
                { data: "profile_url",orderable: false},
                { data: 'intro',orderable:false,searchable:false}

            ]
        };
        var server_table = dt.initServerDataTable(options);
        return server_table
    }

    function filterKind(kName){
        console.log(kName);
        $("#datatable").DataTable().column(5).search(
                kName
        ).draw();
    }

    $(document).ready(function() {
                initTable();
                $('[data-toggle="popover"]').popover();
            })
            .on('click','.btn-kind',function(){
                var $this = $(this);
                var kName = $this.data('uid');
                filterKind(kName);
            })
            .on('click','#gzh-add', function () {
                var $this = $(this);
                var $data_table = $("#datatable").DataTable();
            })
            .on('click','.btn_article_pull',function (){
                var $this = $(this);
                var uid = $this.data('uid');
                $.ajaxSetup({data: {csrfmiddlewaretoken: '{{ csrf_token }}'}});
                $.ajax({
                    type: 'post',
                    url: '/api/manager/pull/gzh/history',
                    data: {
                       uid
                    },
                    dataType: 'json',
                    success: function(msg){
                        console.log(msg)
                    }
                });

            })

</script>
{% endblock %}